<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivityBaseDrawerNav"
            android:exported="true"
            android:theme="@style/Theme.FYP_Habitiny"/>
        <activity
            android:name=".MainActivityAddNewUserByAdmin"
            android:exported="true"
            android:parentActivityName=".MainActivityAdminOptions"/>
        <activity
            android:name=".MainActivityAdminFeedback"
            android:exported="true"
            android:parentActivityName=".MainActivityAdminOptions"/>
        <activity
            android:name=".MainActivityAdminEditUserPre"
            android:exported="true"
            android:parentActivityName=".MainActivityAdminOptions"/>
        <activity
            android:name=".MainActivityAdminEdtUser"
            android:exported="true"
            android:parentActivityName=".MainActivityAdminEditUserPre"/>
        <activity
            android:name=".MainActivityAdminOptions"
            android:exported="true"
            android:parentActivityName=".MainActivityAdminLogin"/>
        <activity
            android:name=".MainActivityFeedback"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivityNewUserAdmin"
            android:exported="true"
            android:parentActivityName=".MainActivityAdminLogin"/>
        <activity
            android:name=".MainActivityAdminLogin"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivtyMotoSpace"
            android:exported="true"
            android:parentActivityName=".MainActivtyReadyBtn"/>
        <activity
            android:name=".MainActivityPreCreatedHabits"
            android:exported="true"
            android:parentActivityName=".MainActivtyReadyBtn"/>
        <activity
            android:name=".MainActivityDetailHabit"
            android:exported="true"
            android:parentActivityName=".MainActivtyMyHabit"/>
        <activity
            android:name=".MainActivityAddNewHabit"
            android:exported="true"
            android:parentActivityName=".MainActivtyMyHabit"/>
        <activity
            android:name=".MainActivtyMyHabit"
            android:exported="true"
            android:parentActivityName=".MainActivtyReadyBtn"/>
        <activity
            android:name=".MainActivtyReadyBtn"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivityNewUser"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>